<div class="row">
    <div *ngFor="let item of loaderDatas" class="m-t-10 m-b-10 m-l-5"
        [ngClass]="gridColumn == 2 ? 'col-md-6' : 'col-md-12'">
        <div class="gravatar">
            <ngx-skeleton-loader appearance="circle" [theme]="{ width: '50px','background-color': '#ededed', height: '50px' }">
            </ngx-skeleton-loader>
        </div>
        <div class="gravatar-title">
            <div>
                <ngx-skeleton-loader [theme]="{
                width: higherWidth + '%',
                'border-radius': '0',
                height: '15px',
                'background-color': '#ededed',
                'margin-bottom': '10px'
                }"></ngx-skeleton-loader>
            </div>
            <div>
                <ngx-skeleton-loader [theme]="{ width: lowerWidth + '%', 'border-radius': '0','background-color': '#ededed', height: '15px' }">
                </ngx-skeleton-loader>
            </div>
        </div>
    </div>
</div>
