<div class="container-fluid header-parent">
    <div class="row header-section p-b-10 p-t-10">
      <div class=" logo-container p-t-0 p-b-0 p-l-10 p-r-0">
        <div class="logo-text" >
          <div class="c-pointer outerlogo f-w-600 d-flex align-end" >
            <img src="/assets/icons/air-servlogo.png" width="75px" height="45px">
            <div class="innerlogo m-l-11 align-center m-b-3 j-center ">
              <!-- <div class="f-w-600 f-s-15 h-15">BASS Office</div> -->
              <!-- <div class="f-w-500 f-s-12 h-15">Branch Activity Service System</div> -->
              <div class="f-w-400 f-s-14 h-15 c-green">BASS </div>
              <div class="f-w-500 f-s-14 h-15 c-green">OFFICE </div>

            </div>
          </div>
        </div>
      </div>
      <div class="account d-flex align-end j-end p-r-10">
        <!-- <img class="no-close c-pointer" src="assets/icons/user-icon.png" width="36px" height="35px" alt="" (click)="dropDown=!dropDown"> -->
        <div class="profile-container align-center d-flex  p-l-10 p-r-10 p-t-5 p-b-5 gap-10">
          <!-- <img class="flex-1 m-r-5" src="/assets/icons/air-servlogo.png" width="40px" height="30px"> -->
          <div class="no-close display-name2 f-s-18 d-flex align-center j-center c-pointer flex-1 m-l-2" (click)="dropDown=!dropDown">R</div>
        </div>
        <div class="drop-down " *ngIf="dropDown">
            <div class=" d-flex align-center j-center t-a-center p-l-25 p-r-25 m-t-25 m-b-10">
              <div class="display-name f-s-28 d-flex align-center j-center">R</div>
            </div>
            <div class="f-s-15 f-w-500  p-b-2 p-t-2 c-pointer d-flex align-center j-center">
              {{this.currentAccount?.name}}
            </div>
            <div class="f-s-13 p-l-25 p-r-25 p-b-2 p-t-2 m-b-10 c-pointer d-flex align-center j-center">
              {{this.currentAccount?.username}}
            </div>
            <hr class="hr">
            <div class="f-s-13 p-l-15 p-r-15 p-b-2 p-t-2 c-pointer d-flex align-center j-center log " (click)="logOut(true)">
              <div class="p-10 p-t-2 p-b-2 log-text f-w-500 f-s-13"> Logout</div>
            </div>
            <hr class="hr">
            <div class="f-s-13  w-100 p-b-2 p-t-2 c-pointer d-flex align-center j-center privacy">
              <div class="w-100 j-center p-t-2 p-b-2 f-s-12 d-flex gap-5 c-grey "> <div>Privacy</div> <div >Terms of Service</div> </div>
            </div>
        </div>
      </div>  
    </div>
  </div>